<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.firstgroup.movies.mapper.ActorMapper">

	<resultMap type="com.firstgroup.movies.domain.ActorVO" id="actMap">
		<id property="actbno" column="actbno"/>
		<result property="name" column="name"/>
		<result property="age" column="age"/>
	</resultMap>
	<!-- create -->
  	<insert id="insert" parameterType="map">
		insert into ${tableName} (uuid, uploadPath, fileName, fileType, movBno)
		values(#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{movBno})
	</insert>
  	<!-- delete -->
  	<delete id="delete" parameterType="map">
  		delete from ${tableName} where uuid = #{uuid}
  	</delete>
  	<!-- read -->
  	<select id="select" parameterType="map" resultType="com.firstgroup.movies.domain.MoviesAttachVO">
  		select * from ${tableName} where movBno = #{movBno}
  	</select>
</mapper>